@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Dhurjati&family=Dongle&family=Fira+Code:wght@500&family=Odibee+Sans&display=swap');

* {
 padding: 0;
 margin: 0;
}

html {
 scroll-behavior: smooth;
}

body {
 background: rgb(0, 24, 77);
 background: linear-gradient(90deg, rgba(0, 24, 77, 1) 0%, rgba(0, 53, 63, 1) 50%, rgba(0, 69, 65, 1) 100%);
}

header {
 position: relative;
 display: flex;
}

#imgbackup {
 position: absolute;
 z-index: -2;
 width: 100vw;
 height: 56.25vw;
}

header .intro_background_image {
 position: absolute;
 z-index: -1;
 width: 100vw;
 height: 56.25vw;
 opacity: 60%;
}

header .navbar {
 position: absolute;
}

header .navbar ul {
 height: 5vw;
 width: 70vw;
 display: flex;
 justify-content: space-around;
 align-items: center;
}

header .navbar ul li {
 font-size: 2.4vw;
 list-style: none;
 font-family: Fira Code;
 font-style: normal;
 font-weight: 600;
 line-height: 63px;
 text-align: center;
 color: #FFFFFF;
}

header .intro {
 width: 100vw;
 height: 56.25vw;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: space-around;
}

header .intro .intro_text {
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 font-style: normal;
 color: #FFFFFF;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: flex-start;
 height: 8vw;
 font-size: 1.9vw;
 width: 60vw;
}

header .intro .intro_text .cont1 {
 font-family: Fira Code;
 color: #00C2FF;
}

header .intro .intro_text .cont2 {
 display: flex;
}

header .intro .intro_text .cont2_1 {
 font-family: Teko;
 transform: scaleX(1);
}

header .intro .intro_text .cont2_2 {
 font-family: Teko;
 font-weight: 600;
 color: #00C7BB;
 margin-left: 5px;
}

header .intro .intro_text .cont3 {
 font-family: ABeeZee;
}

header .intro .intro_photo img {
 height: 26.04vw;
 width: 26.04vw;
}

#main_container {
 background: rgb(0, 24, 77);
 background: linear-gradient(90deg, rgba(0, 24, 77, 1) 0%, rgba(0, 53, 63, 1) 50%, rgba(0, 69, 65, 1) 100%);
 color: white;
 width: 100vw;
}

#about,
#skills,
#projects {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
 border-bottom: 2px solid #00C2FF;
}

#about {
 background-image: url("Frame2.png");
 background-size: cover;
 background-repeat: repeat;
 background-position: center;
 min-height: 800px;
}

#about .about_heading,
#skills .skills_heading,
#projects .projects_heading {
 margin: 40px 0px 20px 0px;
 font-family: Dongle;
 text-align: center;
 color: #00C2FF;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 border-bottom: 4px solid #00C2FF;
 transform: scaleX(1.4);
}

#about .about_content {
 opacity: 80%;
 width: 85vw;
 font-size: 1.9vw;
 font-family: ABeeZee;
 color: #FFFFFF;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#skills {
 padding-bottom: 200px;
}

#skills .skills_content ul {
 display: grid;
 grid-template-columns: 30vw 30vw 30vw;
 width: 90vw;
 justify-content: space-around;
 margin-bottom: 30px;
}

#skills .skills_content ul li {
 transform: scale(0.7);
 opacity: 40%;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
 list-style: none;
 transition: ease-in-out 0.7s all;
}

#skills .skills_content ul li img {
 width: 20vw;
}

#skills .skills_content ul li .level {
 font-family: Dhurjati;
 text-align: center;
 text-shadow: 0px 4.8px 4.8px rgba(0, 0, 0, 0.25);
}

#projects .projects_content {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
 font-family: ABeeZee;
 color: #FFFFFF;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#projects .projects_content ul {
 display: grid;
 grid-template-columns: 33vw 33vw 33vw;
 max-height: 420px;
 overflow: auto;
 margin-bottom: 30px;
}

#projects .projects_content ul li {
 list-style: none;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 flex-direction: column;
 margin-bottom: 20px;
}

#projects .projects_content ul li:hover {}


#projects .projects_content ul li img {
 border-radius: 18px;
 object-fit: cover;
 width: 26.4vw;
 height: 27.18vw;
 margin-bottom: 5px;
}

#projects .projects_content ul li .project_name {
 margin-bottom: 5px;
 font-family: Odibee Sans;
 font-size: 1.9vw;
 color: #FAFF00;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 transform: scaleX(1.6);
}

#projects .projects_content ul li .project_types {
 font-family: ABeeZee;
 color: #FFFFFF;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 font-size: 1.9vw;
}

#contact {
 background: #2C2C2C;
 height: auto;
}

#contact .contact_images ul {
 display: flex;
 justify-content: space-around;
}

#contact .contact_images ul li {
 list-style: none;
 padding: 15px 0px;
}

#contact .contact_images ul li img {
 width: 3.5vw;
 height: 3.5vw;
}

#credits {
 display: flex;
 justify-content: center;
 align-items: center;
 padding-bottom: 10px;
 color: #00fff7;
}

@media screen and (max-width: 480px) {
 #about {
  min-height: 500px;
 }

 #about .about_content {
  font-size: 4vw;
 }

 header .intro .intro_text {
  font-size: 2.8vw;


 }

 #projects .projects_content ul {
  display: grid;
  grid-template-columns: 50vw 50vw;
 }

 #projects .projects_content ul li img {
  width: 40.4vw;
  height: 41.6vw;
  margin-bottom: 5px;
 }

 #contact .contact_images ul li img {
  width: 6vw;
  height: 6vw;
 }

}