* {
 padding: 0;
 margin: 0;
}

header {
 position: relative;
 height: 56.25vw;
 display: flex;
 /* justify-content: center; */
 /* align-items: center; */
}

#imgbackup {
 position: absolute;
 z-index: -2;
 width: 100vw;
 height: 56.25vw;
 background-color: black;
}

header .intro_background_image {
 position: absolute;
 z-index: -1;
 width: 100vw;
 height: 56.25vw;
 opacity: 40%;
}

header .navbar {
 position: absolute;
}

header .navbar ul {
 height: 5vw;
 width: 50vw;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}

header .navbar ul li {
 font-size: 2.4vw;
 list-style: none;
 font-family: Fira Code;
 font-style: normal;
 font-weight: 600;
 line-height: 63px;
 text-align: center;
 color: #FFFFFF;
}

header .intro {
 width: 100vw;
 height: 56.25vw;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: space-around;
}

header .intro .intro_text {
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 font-style: normal;
 color: #FFFFFF;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: flex-start;
 height: 8vw;
 font-size: 1.9vw;
}

header .intro .intro_text .cont1 {
 font-family: Fira Code;
 color: #00C2FF;
}

header .intro .intro_text .cont2 {
 display: flex;
}

header .intro .intro_text .cont2_1 {
 font-family: Odibee Sans;
}

header .intro .intro_text .cont2_2 {
 font-family: Teko;
 font-weight: 600;
 color: #00C7BB;
 margin-left: 5px;
}

header .intro .intro_text .cont3 {
 font-family: ABeeZee;
}

header .intro .intro_photo img {
 height: 26.04vw;
 width: 26.04vw;
}

#main_container {
 color: white;
 width: 100vw;
 background-image: url("./assests/images/Frame2.png");
 background-color: black;
 background-size: cover;
 background-repeat: repeat;
 background-position: center;
}

#about {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
 min-height: 56.25vw;
}

#about .about_heading {
 margin: 40px 0px 10px 0px;
 font-family: Dongle;
 text-align: center;
 color: #00C2FF;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#about .about_content {
 width: 85vw;
 font-size: 1.9vw;
 font-family: ABeeZee;
 color: #FFFFFF;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#skills {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
 min-height: 56.25vw;
}

#skills .skills_heading {
 margin: 40px 0px 10px 0px;
 font-family: Dongle;
 text-align: center;
 color: #00C2FF;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#skills .skills_content .skills_content_trio ul {
 display: flex;
 width: 90vw;
 justify-content: space-around;
}

#skills .skills_content .skills_content_trio ul li {
 transform: scale(0.7);
 opacity: 40%;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
 list-style: none;
 width: 30vw;
 transition: ease-in-out 0.7s all;
}

#skills .skills_content .skills_content_trio ul li:hover,
#skills .skills_content .skills_content_trio ul li:active {
 transform: scale(1.2);
 opacity: 100%;
}

#skills .skills_content .skills_content_trio ul li img {
 width: 20vw;
}

#skills .skills_content .skills_content_trio ul li .level {
 font-family: Dhurjati;
 text-align: center;
 text-shadow: 0px 4.8px 4.8px rgba(0, 0, 0, 0.25);
}

#projects {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
 min-height: 56.25vw;
}

#projects .projects_heading {
 margin: 40px 0px 10px 0px;
 font-family: Dongle;
 text-align: center;
 color: #00C2FF;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#projects .projects_content {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
 font-family: ABeeZee;
 color: #FFFFFF;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#projects .projects_content ul {
 display: grid;
 grid-template-columns: 50vw 50vw;

}

#projects .projects_content ul li {
 list-style: none;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 flex-direction: column;
 margin-bottom: 20px;
}

#projects .projects_content ul li img {
 width: 40.4vw;
 margin-bottom: 5px;
}

#projects .projects_content ul li .project_name {
 margin-bottom: 5px;
 font-family: Odibee Sans;
 color: #FAFF00;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#projects .projects_content ul li .project_types {
 font-family: ABeeZee;
 color: #FFFFFF;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 font-size: 1.9vw;
 }
 
 #show{
 font-family: Odibee Sans;
 margin-bottom: 30px;
 }
 
 