@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Dhurjati&family=Dongle&family=Fira+Code:wght@500&family=Odibee+Sans&display=swap');

* {
 padding: 0;
 margin: 0;
}

html {
 scroll-behavior: smooth;
 overscroll-behavior: smooth;
}

body {
 /* animation-name: zoom; */
 animation-duration: 5s;
 animation-iteration-count: 1;
 animation-timing-function: ease;
 background: linear-gradient(90deg, rgba(0, 24, 77, 1) 0%, rgba(0, 53, 63, 1) 50%, rgba(0, 69, 65, 1) 100%);
}

@keyframes zoom {
 0% {
  opacity: 0;
 }

 100% {
  opacity: 1;
  transform: scale(1);
 }
}

header {
 display: flex;
}

#imgbackup {
 position: absolute;
 z-index: -2;
 width: 100vw;
 height: 56.25vw;
}

header .intro_background_image {
 position: absolute;
 z-index: -1;
 width: 100vw;
 height: 56.25vw;
 opacity: 60%;
}

header .navbar {
 position: fixed;
 top: 5px;
 right: 0px;
 transition: all ease-in-out 1s;
 border-radius: 4px;
 display: flex;
 flex-direction: row-reverse;
 align-items: center;
 z-index: 1;
}

header .navbar .navopen img {
 display: block;
 /* background-color: rgba(0, 24, 77, 1); */
 height: 80px;
 width: 80px;
 transition: all ease-in-out 1s;
 opacity: 1;
}

header .navbar ul {
 opacity: 0;
 display: none;
 align-items: center;
 flex-direction: row;
 transition: all ease-in-out 1s;
 justify-content: space-around;
 width: 60vw;
 max-width: 500px;
}

header .navbar ul li {
 color: white;
 list-style: none;
 display: flex;
 align-items: center;
 justify-content: center;
 transition: all ease-in-out 1s;

}

header .navbar ul li img {
 height: 80px;
 width: 80px;
 transition: all ease-in-out 1s;
}

header .intro {
 width: 100vw;
 height: 56.25vw;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: space-around;
}

header .intro .intro_text {
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 font-style: normal;
 color: #FFFFFF;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: flex-start;
 height: 8vw;
 font-size: 1.9vw;
 width: 60vw;
 transition: ease-in-out 1s all;
 animation-name: right;
 animation-duration: 4.5s;
 animation-iteration-count: 1;
 animation-timing-function: ease;
}

@keyframes right {
 0% {
  transform: translateY(100px);
  opacity: 0;
 }

 100% {
  transform: translateY(0px);
  opacity: 1;
 }
}


header .intro .intro_text:hover {
 transform: translateY(20px);
}


header .intro .intro_text .cont1 {
 font-family: Fira Code;
 color: #00C2FF;
}

header .intro .intro_text .cont2 {
 display: flex;
}

header .intro .intro_text .cont2_1 {
 font-family: Teko;
 transform: scaleX(1);
}

header .intro .intro_text .cont2_2 {
 font-family: Teko;
 font-weight: 600;
 color: #00C7BB;
 margin-left: 5px;
}

header .intro .intro_text .cont3 {
 font-family: ABeeZee;
}

header .intro .intro_photo img {
 height: 26.04vw;
 width: 26.04vw;
 transition: ease-in-out 1s all;
 animation-name: left;
 animation-duration: 5s;
 animation-iteration-count: 1;
 animation-timing-function: ease;
 -webkit-transform: rotate(20deg);
 -moz-transform: rotate(20deg);
 -o-transform: rotate(20deg);
}

@keyframes left {
 0% {
  transform: translateY(100px);
  opacity: 0;
 }

 90% {
  transform: translateY(0px);
  opacity: 1;
 }

 100% {
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
 }
}

header .intro .intro_photo img:hover {
 -webkit-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -o-transform: rotate(0deg);
}

#main_container {
 color: white;
 width: 100vw;
}

#about,
#skills,
#projects {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
 border-bottom: 2px solid #00C2FF;
}

#about {
 background-image: url("../images/Frame2.png");
 background-size: cover;
 background-repeat: repeat;
 background-position: center;
 min-height: 800px;
}

#about .about_heading,
#skills .skills_heading,
#projects .projects_heading {
 margin: 40px 0px 20px 0px;
 font-family: Dongle;
 text-align: center;
 color: #00C2FF;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 border-bottom: 4px solid #00C2FF;
 transform: scaleX(1.4);
 margin-bottom: 20px;
}

#about .about_heading:hover,
#skills .skills_heading:hover,
#projects .projects_heading:hover {
 transform: scaleX(1.4) translateY(10px);
 border-bottom: 4px solid #FFFFFF;
 padding-bottom: -20px;
}

#about .about_content {
 opacity: 80%;
 width: 85vw;
 font-size: 1.9vw;
 font-family: ABeeZee;
 color: #FFFFFF;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#skills {
 padding-bottom: 200px;
}

#skills .skills_content ul {
 display: grid;
 grid-template-columns: 30vw 30vw 30vw;
 width: 90vw;
 justify-content: space-around;
 margin-bottom: 30px;
}

#skills .skills_content ul li {
 transform: scale(0.7);
 opacity: 40%;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
 list-style: none;
 transition: ease-in-out 0.7s all;
}

#skills .skills_content ul li img {
 width: 20vw;
}

#skills .skills_content ul li .level {
 font-family: Dhurjati;
 text-align: center;
 text-shadow: 0px 4.8px 4.8px rgba(0, 0, 0, 0.25);
}

#projects .projects_content {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
 font-family: ABeeZee;
 color: #FFFFFF;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 min-height: 70vh;
}

#projects_Name {
 width: 90vw;
  display: grid;
  grid-template-columns: 40vw 40vw;
  grid-column-gap: 10vw;
  grid-row-gap: 10px;
}

#projects_Name li {
 list-style: none;
 border: 2px solid white;
 display: flex;
 justify-content: center;
 align-items: center;
font-size: 4vw;
}




#project_display_container {
 position: fixed;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 width: 70vw;
 height: 30vw;
 display: none;
 justify-content: space-between;
 align-items: center;
 border-radius: 10px;
 background-color: #2e2e2e;
 box-shadow: 0px 0px 0px 100vw rgb(0, 10, 0, 0.5);
 transition: ease-in-out 2s all;
}

#project_display_container img {
 border-radius: 10px;
 object-fit: cover;
 width: 26vw;
 height: 30vw;
}

#project_display_container .details {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 flex-direction: column;
 width: 44vw;
 height: 25vw;
}

#project_display_container .details a {
 text-decoration: none;
 color: #08fff3;
 font-size: 3.2vw;
}

#project_display_container .details h5 {
 margin-top: 1vw;
 font-size: 2vw;
}

#project_display_container .details p {
 margin-top: 2vw;
 font-size: 1.3vw;
 width: 35vw;
}

#contact {
 background: #2C2C2C;
 height: auto;
}

#contact .contact_images ul {
 display: flex;
 justify-content: space-around;
}

#contact .contact_images ul li {
 list-style: none;
 padding: 15px 0px;
}

#contact .contact_images ul li img {
 width: 3.5vw;
 height: 3.5vw;
}

#credits {
 display: flex;
 justify-content: center;
 align-items: center;
 padding-bottom: 10px;
 color: #00fff7;
}

@media screen and (max-width: 600px) {
 #about {
  min-height: 500px;
 }

 #about .about_content {
  font-size: 4vw;
 }

 header .intro .intro_text {
  font-size: 2.8vw;
 }

 header .navbar .navopen {
  height: 10vw;
  width: 10vw;
 }


 header .navbar .navopen img {
  height: 10vw;
  width: 10vw;
 }

 header .navbar ul {
  max-width: 50vw;
 }

 header .navbar ul li img {
  height: 10vw;
  width: 10vw;
 }

 #project_display_container {
  width: 75vw;
  height: 70vh;
  justify-content: flex-start;
  flex-direction: column;
 }

 #project_display_container img {
  width: 75vw;
  height: 85vw;
 }

 #project_display_container .details {
  width: 60vw;
  height: auto;
 }

 #project_display_container .details a {
  margin-top: 3vw;
  font-size: 5vw;
 }

 #project_display_container .details h5 {
  margin-top: 1vw;
  font-size: 2.6vw;
 }

 #project_display_container .details p {
  margin-top: 2vw;
  font-size: 2vw;
  width: 60vw;
 }

 #contact .contact_images ul li img {
  width: 6vw;
  height: 6vw;
 }

}